<!DOCTYPE html>
<html ng-app="collabApp">
<head>
    <title>Collab</title>
    <link rel="stylesheet" media="all" href="css/bootstrap.css">
    <link rel="stylesheet" media="all" href="css/main.css">
    <link href="https://www.gstatic.com/realtime/quickstart-styles.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/replication/replicaIdentity.js"></script>
    <script src="js/crdts/registerValue.js"></script>
    <script src="js/crdts/vectorClock.js"></script>
    <script src="js/crdts/multiValueRegister.js"></script>
    <script src="js/crdts/factory.js"></script>
    <script src="js/util/random.js"></script>
    <script src="js/util/hashing.js"></script>
    <script src="js/util/loggingUtils.js"></script>
    <script src="js/controllers.js"></script>

    <script type="application/javascript" src="https://www.gstatic.com/realtime/realtime-client-utils.js"></script>
    <script type="application/javascript" src="https://apis.google.com/js/api.js?onload=initGAPI"></script>

</head>

<body>
<div data-ng-controller="interactionController">

    <section id="main">
        <nav>
            <h2>Collab: collaborative web application using CRDTs and Google Realtime API</h2>
        </nav>
        <div class="content">
            <div>
                <p>This is a purely conceptual prototype.</p>
                <p>To use the application:</p>
                <ul>
                    <li>Click the 'Authorize' button if it appears.</li>
                    <li>Open the same link in another browser tab, in another browser or send it to anyone.</li>
                    <li>Click on a cell and write something.</li>
                    <li>Click outside of the cell, then the data will be automatically shared.</li>
                </ul>
            </div>


            <div id="navbar">
                <!-- Purely for debugging purposes -->
                <ul>
                    <li>
                        <button id="auth_button">Authorize</button>
                    </li>
                </ul>
            </div>

            <div class="tableContainer">
                <table class="tg" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="tg-afp9" style="width: 7%;"></th>
                        <th class="tg-afp9" style="">A</th>
                        <th class="tg-afp9" style="">B</th>
                        <th class="tg-afp9" style="">C</th>
                        <th class="tg-afp9" style="">D</th>
                        <th class="tg-afp9" style="">E</th>
                        <th class="tg-afp9" style="">F</th>
                        <th class="tg-afp9" style="">G</th>
                        <th class="tg-afp9" style="">H</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="row in rows">
                        <td contenteditable data-ng-click="cellClicked(cell.row, cell.col)"
                            class="{{getCellClass(cell.row, cell.col)}}"
                            data-ng-repeat="cell in row"
                            id="cell{{cell.row}}-{{cell.col}}">
                            {{cell.value}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div><p>No google credentials are handled by this application, all is passed to Google directly.</p></div>
            <div class="push"></div>


        </div>

    </section>

</div>
<ng-view></ng-view>
</body>
</html>
